@model Shwallak.Models.Article

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="contact_area">
            <h2>Search</h2>
            <p>Search articles by their title or by their uplous date.</p>
            <p>Leave input area empty if you don't want to filter articles by it's property.</p>
            <form action="~/Articles/Results" class="contact_form">
                <input class="form-control" id="title" type="text" placeholder="Title" name="title">
                <input class="form-control" id="date" type="date" name="date">
                <br />
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</section>