@model IEnumerable<Shwallak.Models.Article>

@{
    ViewBag.Title = "SectionList";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}


<section id="contentSection">
    <div class="row">
        <div class="single_page">
            <div class="related_post">
                <h2>About</h2>
                
                <video autoplay="" loop="" muted="" width="50%" , height="50%">

                    <source src="~/Content/Video/shwallak.mp4" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
                <br />
                <p>
                    Welcome to Shwallak!
                </p>
                <p>
                    We are students of the College of Management, and the site is our final project in Web Application Development course.
                </p>
                <p>
                    Shwallak brings the surfer up-to-date and interesting information in a multitude of areas of knowledge, and covers most areas of content that focus on public interest: news, business, sports, culture, entertainment and gossip, tourism, health and food.
                </p>
                <p>
                    Today, out website contains @ViewBag.pub public articles for all viewers, and @ViewBag.priv private articles for subscribers only.
                </p>

            </div>
        </div>
    </div>
</section>
