@model IEnumerable<Shwallak.Models.Article>

@{
    ViewBag.Title = "SectionList";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}


<section id="contentSection">
    <div class="row">
        <div class="single_page">
            <div class="related_post">
                <h2>About</h2>
                ~ description of our website ~
                public: @ViewBag.pub
                private: @ViewBag.priv
            </div>
        </div>
    </div>
</section>
