
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}



<section id="contentSection">
    <div class="row">
        <h2>Contact</h2>
        <br />
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="fashion_technology_area">
                    <div class="fashion">
                        <!-- Sport Section -->
                        <div class="single_post_content">
                            <h2><span>Maya Zadka</span></h2>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <div class="media-body">
                                            Email: mayazadka@cs.colman.ac.il
                                        </div>
                                        <div class="social_link">
                                            <ul class="sociallink_nav">
                                                <li><a href="https://www.linkedin.com/public-profile/in/maya-zadka-9839591b1/?challengeId=AQG37d5oEunJHgAAAXQxBShE4ZPQkare7H3gg67hW3kwQcc6fTy4l8sN0Dsm-LRSYY5miQufXNiLHIIpTG5_80iAGFyu2GGvUQ&submissionId=ffb127ea-fc30-2f16-80f5-f0fae9bb5356"><i class="fa fa-linkedin"></i></a>
                                                <a href="https://github.com/mayazadka"><i class="fa fa-github"></i></a></li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="technology">
                        <!-- Sport Section -->
                        <div class="single_post_content">
                            <h2><span>Omer Asher</span></h2>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <div class="media-body">
                                            Email: 
                                        </div>
                                        <div class="social_link">
                                            <ul class="sociallink_nav">
                                                <li>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-github"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fashion">
                        <!-- Sport Section -->
                        <div class="single_post_content">
                            <h2><span>Itay Motiei</span></h2>
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown">
                                        <div class="media-body">
                                            Email: 
                                        </div>
                                        <div class="social_link">
                                            <ul class="sociallink_nav">
                                                <li>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-github"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
     
</section>