@model Shwallak.Models.Writer

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

    <section id="contentSection">
        <div class="row">
            <div class="contact_area">
                <h2>Search</h2>
                <p>Search writers by their name, email or by their year of hiring.</p>
                <p>Leave input area empty if you don't want to filter articles by it's property.</p>
                <form action="~/Writers/Results" class="contact_form">
                    <input class="form-control" id="name" type="text" placeholder="Name" name="name">
                    <input class="form-control" id="email" type="text" placeholder="Email" name="email">
                    <input class="form-control" id="year" type="number" placeholder="Year Of Hiring" name="year">
                    <br />
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </section>

