@model IEnumerable<Shwallak.Models.Writer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<head>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.genderSort').hide();
        });

        function hideGender() {
            $(document).ready(function () {
                $('.genderSort').hide();
            });
        }

        function showGender() {
            $(document).ready(function () {
                $('.genderSort').show();
            });
        }
    </script>

</head>
<section id="contentSection">
    <div class="row">
        <div class="single_page">
            <div class="related_post">
                <h2>Writers</h2>
                <br />
                <table>
                    <tr>
                        <td>
                            <form action="~/Writers/Create">
                                <button type="submit" class="btn btn-theme">Add</button>
                            </form>
                        </td>
                        <td>
                            &nbsp;&nbsp;
                        </td>
                        <td>
                            <form action="~/Writers/Search">
                                <button type="submit" class="btn btn-theme">Search</button>
                            </form>
                        </td>
                    </tr>
                </table>
                <br />
                <form name="myForm" action="~/Writers/Sort">
                    <button type="submit" class="btn btn-theme">Sort</button>
                    <br />

                    <table>
                        <tr>
                            <td>
                                <input class="radioSort" type="radio" name="sortBy" value="year" checked="checked" onchange="hideGender()" />
                            </td>
                            <td>
                                <h5> &nbsp; By Hiring Year</h5>
                            </td>
                            <td>
                                &nbsp; &nbsp;&nbsp;
                            </td>
                            <td>
                                <input class="radioSort" type="radio" name="sortBy" value="fullname" onchange="hideGender()" />
                            </td>
                            <td>
                                <h5>&nbsp; By Name</h5>
                            </td>
                            <td>
                                &nbsp; &nbsp;&nbsp;
                            </td>
                            <td>
                                <input class="radioSort" type="radio" name="sortBy" value="gender" onchange="showGender()" />
                            </td>
                            <td>
                                <h5>&nbsp; By Gender</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="genderSort" hidden="hidden" type="radio" name="gender" value="1" checked="checked" />
                            </td>
                            <td>
                                <h5 class="genderSort" hidden="hidden">&nbsp; Male First</h5>
                            </td>
                            <td>
                                &nbsp; &nbsp;&nbsp;
                            </td>
                            <td>
                                <input class="genderSort" hidden="hidden" type="radio" name="gender" value="2" />
                            </td>
                            <td>
                                <h5 class="genderSort" hidden="hidden">&nbsp; Female First</h5>
                            </td>
                        </tr>
                    </table>

                </form>
                <br />

                @{
                    List<Shwallak.Models.Writer> writers = Model.ToList();

                    int i;

                }
                @for (i = 0; writers.Count - 3 > i; i += 3)
                {
                    Shwallak.Models.Writer writer1 = writers.ElementAt(i);
                    Shwallak.Models.Writer writer2 = writers.ElementAt(i + 1);
                    Shwallak.Models.Writer writer3 = writers.ElementAt(i + 2);
                    string img1 = "/Content/images/" + writer1.Gender + "Person.jpg";
                    string img2 = "/Content/images/" + writer2.Gender + "Person.jpg";
                    string img3 = "/Content/images/" + writer3.Gender + "Person.jpg";

                    <ul class="spost_nav wow fadeInDown animated">
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Writers/Details/@writer1.WriterID">

                                    <img src=@img1 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Writers/Details/@writer1.WriterID">@writer1.FullName </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Writers/Details/@writer2.WriterID">
                                    <img src=@img2 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Writers/Details/@writer2.WriterID">@writer2.FullName </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Writers/Details/@writer3.WriterID">
                                    <img src=@img3 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Writers/Details/@writer3.WriterID">@writer3.FullName </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }

                <ul class="spost_nav wow fadeInDown animated">
                    @while (i < writers.Count)
                    {
                        Shwallak.Models.Writer writer = writers.ElementAt(i);
                        string img = "/Content/images/" + writer.Gender + "Person.jpg";
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Writers/Details/@writer.WriterID">
                                    <img src=@img alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Writers/Details/@writer.WriterID">@writer.FullName </a>
                                </div>
                            </div>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>

    </div>

</section>
