@model IEnumerable<Shwallak.Models.Subscriber>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}
<section id="contentSection">
    <div class="row">
        <div class="single_page">
            <div class="related_post">
                <h2>Subscribers</h2>

                <br />

                @{
                    List<Shwallak.Models.Subscriber> subscribers = Model.ToList();

                    int i;

                }
                @for (i = 0; subscribers.Count - 3 > i; i += 3)
                {
                    Shwallak.Models.Subscriber subscriber1 = subscribers.ElementAt(i);
                    Shwallak.Models.Subscriber subscriber2 = subscribers.ElementAt(i + 1);
                    Shwallak.Models.Subscriber subscriber3 = subscribers.ElementAt(i + 2);
                    string img1 = "/Content/images/" + subscriber1.Gender + "Person.jpg";
                    string img2 = "/Content/images/" + subscriber2.Gender + "Person.jpg";
                    string img3 = "/Content/images/" + subscriber3.Gender + "Person.jpg";

                    <ul class="spost_nav wow fadeInDown animated">
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Subscribers/Details/@subscriber1.SubscriberID">

                                    <img src=@img1 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Subscribers/Details/@subscriber1.SubscriberID">@subscriber1.Nickname </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Subscribers/Details/@subscriber2.SubscriberID">
                                    <img src=@img2 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Subscribers/Details/@subscriber2.SubscriberID">@subscriber2.Nickname </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Subscribers/Details/@subscriber3.SubscriberID">
                                    <img src=@img3 alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Subscribers/Details/@subscriber3.SubscriberID">@subscriber3.Nickname </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                }

                <ul class="spost_nav wow fadeInDown animated">
                    @while (i < subscribers.Count)
                    {
                        Shwallak.Models.Subscriber subscriber = subscribers.ElementAt(i);
                        string img = "/Content/images/" + subscriber.Gender + "Person.jpg";
                        <li>
                            <div class="media">
                                <a class="media-left" href="~/Subscribers/Details/@subscriber.SubscriberID">
                                    <img src=@img alt="">
                                </a>
                                <div class="media-body">
                                    <a class="catg_title" href="~/Subscribers/Details/@subscriber.SubscriberID">@subscriber.Nickname </a>
                                </div>
                            </div>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        </div>

    </div>

</section>