@model Shwallak.Models.Subscriber

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}


<section id="contentSection">
    <div class="row">
        <div class="contact_area">
            <h2>Search</h2>
            <p>Search subscribers by their nickname, or by their age</p>
            <p>Leave input area empty if you don't want to filter articles by it's property.</p>
            <form action="~/Subscribers/Results" class="contact_form">
                <input class="form-control" id="nickname" type="text" placeholder="Nickname" name="nickname">
                <input class="form-control" id="age" type="number" placeholder="Age" name="age">
                <br />
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</section>


